# Project 6 Capstone - Part 2: Dataset Munging and Cleaning: Food Deserts

---

In [4]:
# Imports
import pandas as pd

In [5]:
# Data Source: 

# Name: Food Deserts data for the United States

# Link: https://data.world/smartcolumbusos/978eac18-d4d0-4e36-8d1d-23aadd86a702/workspace/file?filename=food-deserts-data-for-the-usa-csv-1.csv

# Description: This dataset identifies the food deserts in the U.S., which includes the regions with low/limited access to food base don resident income levels and transportation availability.

# Data Dictionary: https://data.world/smartcolumbusos/978eac18-d4d0-4e36-8d1d-23aadd86a702/workspace/file?filename=data-dictionary-food-deserts-csv-2.csv
# (Also saved in Data Folder/Food_Deserts)

In [6]:
df = pd.read_csv('../data/Food_Deserts/food-deserts-data-for-the-usa-csv-1.csv')

In [7]:
df.shape

(1000, 147)

In [8]:
df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 147 entries, CensusTract to TractSNAP
dtypes: float64(102), int64(43), object(2)
memory usage: 1.1+ MB

In [10]:
df.isna().sum()

CensusTract      0
State            0
County           0
Urban            0
POP2010          0
                ..
TractAIAN        0
TractOMultir     0
TractHispanic    0
TractHUNV        0
TractSNAP        0
Length: 147, dtype: int64

In [11]:
df.columns

Index(['CensusTract', 'State', 'County', 'Urban', 'POP2010', 'OHU2010',
       'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_1And10',
       ...
       'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP'],
      dtype='object', length=147)

In [12]:
#New dataframe with just the columns I need:
new_df = df[['State', 'POP2010','PovertyRate', 'MedianFamilyIncome']]

In [13]:
new_df.shape

(1000, 4)

In [14]:
new_df.isna().sum()

State                 0
POP2010               0
PovertyRate           0
MedianFamilyIncome    0
dtype: int64

In [15]:
new_df.head()

     State  POP2010  PovertyRate  MedianFamilyIncome
0  Alabama     1912         10.0               74750
1  Alabama     2170         18.2               51875
2  Alabama     3373         19.1               52905
3  Alabama     4386          3.3               68079
4  Alabama    10766          8.5               77819

In [16]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               1000 non-null   object
 1   POP2010             1000 non-null   int64
 2   PovertyRate         1000 non-null   float64
 3   MedianFamilyIncome  1000 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 31.4+ KB